* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

:root {
    
    font-size: 62.5%;

    --color-base-white: #fff;
    --color-base-gray-100: #808080;
    --color-base-gray-300: #8d8d99;
    --color-base-gray-500: #30303D;
    --color-base-gray-900: #000000;

}

input, html, body {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;
    background: var(--color-base-white);
    color: var(--color-base-gray-900);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

main {
    background-color: var(--color-base-gray-100);
    overflow-y: scroll;
}

header {
    position: relative;
}

header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 7.4rem;
    font-weight: 700;
}

header form {
    flex: 1;
}

nav ul {
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
}

.input-wrapper input {
    width: 100%;
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.56;

    background-color: var(--color-base-gray-100);
    border: 0;
    border-radius: .6rem;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input::placeholder {
    opacity: 0.56;
    color: var(--color-base-gray-500);
}

.avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid var(--color-base-gray-300);

    object-fit: cover;

}

main h1 {
    font-size: 2.4rem;
    padding-top: 1.6rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.2rem;
    margin-top: 3.2rem;
}

.item {
    background-color: var(--color-base-white);
    border-radius: .8rem;
    overflow: hidden;
}

.item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;

    display: block;

    filter: grayscale(100%);

    /* transition: all 200ms 0 ease-out */
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;

}

.item img:hover {
    filter: brightness(110%) contrast(110%);
    transform: scale(1.1) rotate(-1.4deg);
}

h2 {
    font-size: 1.8rem;
}

.details {
    padding: 2.2rem;
    background-color: var(--color-base-white);
    position: relative;
    z-index: 1;

}

.tags {
    margin-top: 1.2rem;
}

.tags span {
    padding: .8rem;
    text-transform: uppercase;

    background-color: var(--color-base-gray-100);
    border-radius: .4rem;

    line-height: 0;
    font-size: 1.2rem;
}


footer p {
    text-align: center;
    padding: 1.6rem auto;

    font-weight: 600;
}

header {
    --startY: -100%;
    animation: move .2s;
}

footer {
    --startY: -100%;
    animation: move .2s;
}

@keyframes move {
    /* 0% {} 25% {} 50% {} 75% {} 100%{}*/
    from {
        transform: translateY(var(--startY));
    }

}

.item {
    animation: appear .4s var(--delay) backwards;
    --delay: .4s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.2);
    }
}
